:root {
    --dark-gray: #292D32;
    --light-gray: #838383;
    --gray-for-perks: #B7B7B7;
    --blue: #33A9FF;
}

@font-face {
    font-family: "Circe";
    src: url(fonts/Circe-Regular.woff2);
}

@font-face {
    font-family: "Euclid Circular A";
    src: url(fonts/EuclidCircularA-Regular.woff2);
}

@font-face {
    font-family: "Rubik One Regular";
    src: url(fonts/RubikOne-Regular.woff2) format('woff2'),
         url(fonts/RubikOne-Regular.woff) format('woff');
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Thin.woff2) format('woff2'),
         url(fonts/Roboto-Thin.woff) format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Light.woff2) format('woff2'),
         url(fonts/Roboto-Light.woff) format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.woff2) format('woff2'),
         url(fonts/Roboto-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Bold.woff2) format('woff2'),
         url(fonts/Roboto-Bold.woff) format('woff');
    font-weight: 700;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-gray);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.container {
    max-width: 92%;
    margin: 0 auto;
}

.navbar {
    padding-top: 27px;
    padding-bottom: 26px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar__logo {
    width: 70px;
    height: 70px;
}

.navbar__left__list > li {
    text-transform: uppercase;
}

.navbar__left__list {
    display: flex;
    gap: 40px;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 380px;
}

.navbar__right__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar__right__list__list-item {
    width: 49px;
    height: 49px;
}

.navbar__right__list__list-item--no-bg {
    background-color: #F9F9F9;
    border-radius: 50%;
    padding: 12px 13px;
    width: 49px;
    height: 49px;
}

.slider-section {
    position: relative;
}

.slider {
    display: flex;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 72%;
    left: 67.5%;
}

.slider-pagination {
    position: absolute;
    z-index: 2;

}


.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background: #292D32;
}

.slide-2 {
    background-color: #F9F9F9;
}

.swiper-slide {
    width: 74%;
    height: auto;
}

.swiper-btn {
    cursor: pointer;
    width: 106px;
    height: 23px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 72%;
    left: 75.5%;
    z-index: 2;
}

.slide {
    background-color: #F2F2F2;
    width: 74%;
    display: flex;
    padding-left: 260px;
    padding-top: 74px;
    padding-bottom: 54px;
    background-image: url(images/dell.svg);
    background-repeat: no-repeat;
    background-position: 260px 97px;
}

.slide__inner-wrap {
    display: flex;
}

.slide__scroll__btn {
    width: 25px;
    height: 39px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-bottom: -15px;
    margin-top: 16.5px;
    order: 2;
}

.scroll__wrap {
    margin-top: 278px;
}

.slide__scroll {
    writing-mode: vertical-rl;
    transform: scale(-1);
}

.slide__text {
    padding-left: 108px;
    padding-top: 180px;

}

.slide__text__subheading {
    font-weight: 300;
    font-size: 18px;
    color: var(--light-gray);
}

.h2-heading {
    font-size: 50px;
    line-height: normal;
}

.slide__text__heading {
    padding: 15px 0 74px;
    max-width: 400px;
}

.blue__btn {
    border: none;
    font: inherit;
    background-color: transparent;
}

.blue__btn__arrow {
    background-color: var(--blue);
    color: #FFFFFF;
    font-family: "Circe", sans-serif;
    font-weight: 700;
    padding: 17px 22px;
    border-radius: 50%;
    margin-right: 12px;
}

.blue__btn__arrow--reverse {
    margin-right: 0px;
    margin-left: 12px;
}

.catalog-section {
    padding: 154px 0 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* justify-content: space-between; */
}

.catalog-section__card {
    width: 440px;
    border-radius: 20px;
}

.catalog-section__card--notebook,
.catalog-section__card--pc,
.catalog-section__card--server, 
.catalog-section__card--emc,
.catalog-section__card--emc-parts {
    position: relative;
}

.catalog-section__card--server > span, 
.catalog-section__card--emc > span,
.catalog-section__card--emc-parts > span {
    padding-top: 8px;
}

.catalog-section__card--odd {
    background-color: #F2F2F2;
}

.catalog-section__card--even {
    background-color: #F9F9F9;
}

.catalog-section__card--heading {
    max-width: 388px;
    padding-bottom: 11px;
    margin-right: 52px;
}

.catalog-section__card__heading {
    line-height: 50px;
}

.catalog-section__card__description {
    color: var(--light-gray);
    font-size: 18px;
    font-weight: 300;
    padding: 34px 0 60px;
}

.serial-number {
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: 25px;
    font-weight: 100;
}

.catalog-section__card__info-wrap {
    padding-left: 40px;
    padding-bottom: 40px;
}

.catalog-section__card__info-wrap--notebook {
    padding-top: 29px;
}

.catalog-section__card__info-wrap--server,
.catalog-section__card__info-wrap--emc {
    padding-top: 44px;
}

.catalog-section__card__info-wrap--emc-parts {
    padding-top: 13px;
}

.catalog-section__card__info-wrap--pc {
    padding-top: 41px;
}

.amount-number {
    color: var(--light-gray, #838383);
    font-size: 18px;
    font-weight: 300;
    line-height: 134%;
    margin-bottom: 7px;
}

.name {
    font-size: 25px;
    font-weight: 400;
}

.catalog-section__card--notebook__image {
    margin-top: -10px;
    margin-left: 12px;
}

.catalog-section__card--pc__image {
    margin-left: 115px;
    margin-top: -21px;
}

.catalog-section__card--server__image {
    margin-top: 90px;
    margin-left: 51px;
}

.catalog-section__card--emc__image {
    margin-top: 67px;
    margin-left: 75px;
}

.catalog-section__card--emc-parts__image {
    margin-top: 46px;
    margin-left: 87px;
}

.perks-section {
    background-color: #F2F2F2;
    background-image: url(images/perks-bg.png);
    background-repeat: no-repeat;
    background-position: 0 165px;
}

.perks-section__heading-wrap {
    display: flex;
    padding-top: 90px;
    margin-left: 180px;
}

.perks-section__heading {
    margin-top: 96px;
    margin-left: -80px;
    max-width: 518px;
}

.perks-section__description {
    color: var(--light-gray);
    font-size: 18px;
    padding: 35px 0 60px;
}

.perks-section__perks-list {
    padding: 45px 0 46px;
    display: flex;
    gap: 27px;
}

.perks-section__perks-list__list-element {
    background-color: var(--dark-gray);
    width: 330px;
    padding: 30px 22px 35px 30px;
    background-image: url(images/perks-list-vector.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    border-radius: 20px;
}

.perks-section__perks-list__list-element__name {
    color: #FFF;
    font-size: 22px;
    font-family: Euclid Circular A;
    font-weight: 700;
    line-height: normal;
    padding-top: 19px;
    padding-bottom: 13px;
}

.perks-section__perks-list__list-element__description {
    color: var(--gray-for-perks);
    font-size: 16px;
    font-family: Euclid Circular A;
    font-weight: 300;
    line-height: normal;
}

.icon-wrap {
    border-radius: 10px;
    background: #343A41;
    width: fit-content;
    padding: 17px;
}

.news-section {
    padding-top: 172px;
    margin-bottom: 526px;
}

.news-section__heading-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-section__heading-wrap > button {
    margin-top: 10px;
}

.news-section__description {
    color: var(--light-gray);
    font-size: 18px;
    font-weight: 300;
    max-width: 721px;
    padding: 25px 0 69px;
}

@media screen and (min-width:1920px) {
    .container {
        max-width: 73%;
    }
}

@media screen and (min-width:376px) {
    .navbar__right__list__btn {
        display: none;
    }
}
